/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;
}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}

.mobile-tabs {
	display: none;
}

/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}

	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

	/* Re-arrange layout */
	body #ExplainGitZen-Container .playground-container {
		display: flex;
		flex-direction: column;
		margin: 0;
		left: 0;
		right: 0;
		bottom: 0;	
	}

	body #ExplainGitZen-Container .control-box {
		width: 100%;
		height: 30vh;
		bottom: 0;
		top: auto;
		z-index: 105;
		background-color: white;
	}

	body #ExplainGitZen-Container .control-box input[type="text"] {
		width: 100vw;
		height: 40px;
		box-sizing: border-box;
		border-top: 1px solid gray;
	}

	body #ExplainGitZen-Container .control-box .log {
		bottom: 40px;
		padding-bottom: 10px;
	}

	body #ExplainGitZen-Container .svg-container {
		position: static;
		width: 100%;
		height: calc(70vh - 15px);
		margin-top: 11px;
		border: none;
	}

	/* Tabbed view for Remote scenarios */
	#ExplainGitZen-Container .svg-container.remote-container {
		height: 70vh;
		min-height: auto;
	}

	#ExplainGitZen-Container .svg-container.remote-container
	#ExplainGitZen-Origin {
		height: 90%;
	}

	#ExplainGitZen-Container .svg-container.remote-container.hidden {
		opacity: 0;
		pointer-events: none;
	}

	.mobile-tabs {
		display: flex;
		position: fixed;
		z-index: 105;
		width: 100%;
		background-color: white;	
	}

	.mobile-tabs.hidden {
		display: none;
	}

	.mobile-tabs span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		text-align: center;
		height: 40px;
		font-weight: bold;
		cursor: pointer;
	}

	.tab-origin {
		background-color: #eff1ff;
	}

}