/* styles */

#last-command {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 70px;
  opacity: 0.8;
  font-family: Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
}

.intro p, .concept-container p {
  padding-top: 10px;
}

a.openswitch {
  display: block;
}

a.openswitch.selected {
  font-weight: bold;
}

.command-list, .example-list {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 2px dashed #888;
  border-top: 2px dashed #888;
  background-color: #EEE;
}

.command-list a.openswitch {
  font-family: Courier New;
}

.concept-area {
  padding-bottom: 20px;
}

.concept-container {
  display: none;
}

.playground-container {
  margin-top: 20px;
  position: relative;
}

span.cmd {
  background-color: #222222;
  color: #FFFFFF;
  font-family: Courier New;
  padding: 0 0.2em;
}

.svg-container {
  margin-left: 250px;
  display: block;
  overflow: auto;
  border: 1px dotted #AAA;
}

.svg-container.remote-container {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #EFF1FF;
  border-left: 1px dotted #AAA;
  border-bottom: 1px dotted #AAA;
  z-index: 100
}

#ExplainGitZen-Container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#ExplainGitZen-Container .svg-container {
  display: inline-block;
  border: 1px dotted #AAA;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 250px;
  margin-left: 0;
}

#ExplainGitZen-Container .svg-container.remote-container {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
  background-color: #EFF1FF;
  border-left: 1px dotted #AAA;
  border-bottom: 1px dotted #AAA;
  min-height: 400px;
}

#ExplainGitZen-Container .playground-container {
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 20px;
  left: 20px;
}

.remote-name-display {
  font-weight: bold;
  text-align: right;
}

.control-box {
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 250px;
  vertical-align: bottom;
  border: 1px dotted #AAA;
}

.control-box select {
  position: absolute;
  left: 3px;
  top: 3px;
}

.control-box button {
  font-family: Courier New;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.control-box .log {
  overflow-y: auto;
  position: absolute;
  background: #000;
  top: 30px;
  bottom: 20px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #AAA;
}

.control-box .log .reflog-entry, .control-box .log .log-entry {
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
}

.control-box .log, .control-box textarea, .control-box .input {
  font-family: Courier New;
  font-size: 14px;
}

.control-box .log .command-entry {
  padding-left: 15px;
  color: #FFF;
  line-height: 14px;
  background: url(../images/prompt.gif) no-repeat left top black;
}

.control-box textarea {
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  overflow: hidden;
  resize: none;
  color: #FFF;
  line-height: 14px;
  background: url(../images/prompt.gif) no-repeat left center black;
  white-space: nowrap;
}

.control-box .log .info, .control-box .log .error {
  font-size: 12px;
  padding: 5px;
}

.control-box .log .info {
  color: #FFC;
}

.control-box .log .error {
  color: #FCC;
}

.control-box textarea {
  width: 235px;
  border: none;
}

circle.commit {
  fill: #CCCCCC;
  stroke: #888888;
  stroke-width: 3;
  transition-property: stroke, fill;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

circle.commit.reverted {
  fill: #CCEEFF;
  stroke: #0066CC;
}

circle.commit.reverted.checked-out {
  fill: #CCEEFF;
}

circle.commit.rebased {
  stroke: #560066;
  fill: #b907a4;
}

circle.commit.rebased.checked-out {
  fill: #CCCCFF;
}

circle.commit.cherry-picked {
  stroke: #660000;
  fill: #ff5151;
}

circle.commit.cherry-picked.checked-out {
  fill: #ff5151;
}

circle.commit.branchless {
  fill: #FEFEFE;
  stroke: #888888;
  stroke-dasharray: 5, 5;
}

circle.commit.branchless.checked-out {
  fill: #FEFEFE;
}

circle.commit.checked-out {
  fill: #8ce08c;
  stroke: #339900;
}

circle.commit.logging {
  stroke: #0066CC;
  fill: #0099EE;
}

.commit-pointer {
  stroke: rgba(100, 100, 100, 0.5);
  stroke-width: 4;
}

.merge-pointer {
  stroke: rgba(100, 100, 100, 0.5);
  stroke-width: 4;
  stroke-dasharray: 15, 4;
}

.commit-pointer.branchless, .merge-pointer.branchless {
  stroke: #DDD;
  stroke-width: 2;
}

text.id-label {
  text-anchor: middle;
  font-family: Courier New;
  font-weight: bolder;
  fill: #666;
  font-size: 10px;
}

text.message-label {
  text-anchor: middle;
  font-family: Courier New;
  fill: #666;
  font-size: 10px;
}

g.branch-tag > rect {
  fill: #FFCC66;
  stroke: #CC9900;
  stroke-width: 2;
}

g.branch-tag.git-tag > rect {
  fill: #7FC9FF;
  stroke: #0026FF;
}

g.branch-tag.remote-branch > rect {
  fill: #CCC;
  stroke: #888;
}

g.branch-tag > text {
  text-anchor: middle;
  fill: #000;
  font-size: 15px;
  font-family: Arial;
}

g.head-tag > rect {
  fill: #CCFFCC;
  stroke: #339900;
  stroke-width: 2;
}

g.head-tag > text {
  text-anchor: middle;
  fill: #000;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
}
